@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Nunito:wght@400;600;700&display=swap');

/* Color Palette */
:root {
  --brain-pink: #ff6090;
  --thought-bubble-blue: #71c6ed;
  --background: #fff3d0dd;
  --upcoming-urgent: #E8453C;
  --keep-in-mind: #eaa12a;
  --font-handwritten: 'Kalam', cursive;
  --font-body: 'Nunito', sans-serif;
}

/* General/overall styles */
body {
  background-color: var(--background);
  font-family: var(--font-body);
  margin: 0;
}

/* Heading for upcoming on home page */
h2.upcoming {
  font-family: var(--font-handwritten);
  color: var(--upcoming-urgent);
}

/* Heading for keep in mind on home page */
h2.keep-in-mind {
  font-family: var(--font-handwritten);
  color: var(--keep-in-mind);
}